#loading,
#results {
  display: none;
}

body {
  font-family: "Sofia", sans-serif;
}
h5 {
  color: white;
  font-size: 22px;
}

#myVideo {
  position: fixed;
  z-index: -1;
}

/* body {
  background-color: #f95e8a;
} */

.card {
  border-radius: 50px 20px;
  left: 200px;
  background-color: rgb(33, 30, 29);
  opacity: 0.9;
}

.calculator {
  height: 50px;
  width: 50px;
  position: absolute;
  background-color: white;
  opacity: 0.8;
}

.title {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
  position: relative;
  top: 150px;
  padding-left: 30px;
  color: aliceblue;
}

h1 {
  padding-left: 90px;
  font-size: 48px;
  font-weight: bold;
  opacity: 0.8;
}

@media (min-aspect-ratio: 16/9) {
  #myVideo {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #myVideo {
    width: auto;
    height: 100%;
  }
}
